*{
    padding: 0px;
    margin: 0px;
    color :white;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #D7D7D7;
}

body{
    background-color: #FE7743;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.obox{
    position: fixed;
    top: 0px;
    background-color:#FE7743;
    height: 23px;
    width: 100%;
    z-index: 2;
}

header{
    height: 60px;
    width: 95%;
    background-color: rgba(39, 63, 79, 0.91);
    backdrop-filter: blur(10px);
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    position: fixed;
    top: 10px;
    z-index: 3;
}

.about{
    margin-top: 10px;
    height: 120px;
    width: 92%;
    background-color:#273F4F;
    border-radius: 10px 10px 20px 20px;
    margin-bottom :20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top: 10px;
    width: 92%;
    background-color: #273F4F;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-around;
    z-index: 1;
}

.box img{
    margin-top: 10px;
    width: 95%;
    height: 220px;
    border-radius: 6px;
}

.box p{
    width: 92%;
    margin-top:10px;
    margin-bottom: 20px;
}

.box h3{
    width: 92%;
    margin-top:10px;
}

.con img {
    width: 60px;
    border-radius: 10px;
}
.con{
    height: 80px;
    width: 92%;
    background-color:#447D9B;
    border-radius: 10px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.dx{
    width: 75%;
}
.para{
    width: 90%;
    height: 80%;
}
.about h3{
    width: 90%;
    display: flex;
    justify-content: center;
}